.qun-num {
  background: #ff9000;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px #000;
}
main #group-section {
  display: none;
}
main #group-section.active {
  display: block;
  background: #2a4153;
}
main #group-section .title-bar {
  position: relative;
  width: 100%;
  height: var(--group-title-h);
  display: grid;
  grid-template-columns: 30fr 5fr 5fr;
  align-items: center;
  justify-items: center;
  background: #335066;
}

main #group-section .title-bar .title {
  position: relative;
  font-size: calc(var(--header-f-s) * 1.2);
  color: #fff;
  text-shadow: 0 0 1px #000;
  font-weight: 500;
}
main #group-section .title-bar .title i {
  position: relative;
  top: 3px;
  font-size: 1.6rem;
  text-shadow: 0 0 1px #000;
}

.title-bar #add-new-group,
.title-bar #edit-group {
  position: relative;
}

.title-bar #add-new-group i,
.title-bar #edit-group i {
  position: relative;
  top: 4px;
  font-size: 1.2rem;
  padding: 6px;
  background: #00000066;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-shadow: 0 0 1px #000;
  border-color: #b36500 #ffa227 #ffa227 #b36500;
  box-shadow: 0 0 1px #000;
}

main #group-section #all-groups .group {
  position: relative;
  width: 100%;
  height: var(--group-h);
  box-shadow: 0 2px 4px #000;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.2rem;
}
main #group-section #all-groups .group .content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  grid-template-columns: 20fr 15fr;
  background: linear-gradient(#fff, #ddd);
  border-bottom: solid 5px #777;
}
main #group-section #all-groups .group .content .items i,
main #group-section #all-groups .group .content .group-name i {
  color: #000;
  margin-right: 3px;
  font-size: 1.2rem;
}
main #group-section #all-groups .group .content .items,
main #group-section #all-groups .group .content .group-name {
  position: relative;
  width: 100%;
  display: flex;
  justify-items: left;
  align-items: center;
  padding-left: 10%;
}
main #group-section #all-groups .group .content .group-name i {
  position: relative;
  bottom: 2px;
  font-size: 1.5rem;
}
main #group-section #all-groups .group:nth-child(odd) .content {
  background: linear-gradient(#aaa, #bbb);
}
main #group-section #all-groups .group .editable-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
  font-size: 1rem;
  z-index: 1;
  background: linear-gradient(#fff, #eee);
  border-bottom: solid 5px #777;
}
main #group-section #all-groups.edit .group:nth-child(odd) .editable-content {
  background: linear-gradient(#aaa, #bbb);
}
main #group-section #all-groups.edit .group .editable-content,
main #group-section #all-groups .group.active .editable-content {
  display: grid;
  grid-template-columns: 10fr 10fr 10fr;
  place-items: center;
}
.group .editable-content input {
  position: relative;
  width: 100%;
  font-family: "google";
  background: #fff;
  caret-color: #000;
  color: #000;
}
.group-delete-btn i,
.group-update i {
  font-size: 1rem;
  color: #f00;
  text-shadow: 0 0 1px #000;
}
.group-delete-btn,
.group-update {
  color: #f00;
  cursor: pointer;
  border: solid 1px #ff000055;
  padding: 2px 4px;
  border-radius: 6px;
}
.group-update {
  border: solid 1px #ff00ff55;
}
.group-update.active i {
  color: #f0f;
  text-shadow: 0 0 1px #000;
}
.group-update,
.group-update i {
  color: #ff00ff55;
  text-shadow: 0 0 1px #000;
}

@media only screen and (min-width: 1200px) {
  main #group-section .title-bar {
    grid-template-columns: 55fr 3fr 3fr;
  }
  .title-bar #add-new-group i,
  .title-bar #edit-group i {
    position: relative;
    padding: 6px;
    font-size: 1.4rem;
  }
}

/* ---------------------------- ----*/
main #inside-group-window {
  position: absolute;
  display: none;
  width: var(--winWidth);
  height: calc(var(--winHeight) - var(--header-h));
  top: var(--header-h);
  left: 0;
}

main #inside-group-window.active {
  background: #eee;
  display: flex;
  flex-direction: column;
  background: #2a4153;
}

main #inside-group-window .title-bar {
  position: relative;
  width: 100%;
  height: var(--group-title-h);
  display: grid;
  grid-template-columns: 10fr 40fr 10fr 10fr;
  place-items: center;
  background: #335066;
}
main #inside-group-window .title-bar .title {
  font-size: 1.4rem;
  color: #fff;
  text-shadow: 0 0 1px #000;
}
main #inside-group-window .title-bar .title i {
  text-shadow: 0 0 1px #000;
}
main #inside-group-window .title-bar #item-back-btn {
  position: relative;
  width: calc(var(--item-h));
  height: calc(var(--item-h) / 1.7);
  display: grid;
  place-items: center;
}
main #inside-group-window .title-bar #item-back-btn i {
  font-size: 1.3rem;
}

.title-bar #add-new-item,
.title-bar #edit-item {
  position: relative;
  width: calc(var(--group-title-h) / 1.6);
  height: calc(var(--group-title-h) / 1.6);
  display: grid;
  background: #00000066;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-shadow: 0 0 1px #000;
  border-color: #b36500 #ffa227 #ffa227 #b36500;
  box-shadow: 0 0 1px #000;
  place-items: center;
}
.title-bar #add-new-item i {
  font-size: 1.3rem;
}
.title-bar #edit-item i {
  font-size: 1.2rem;
}
main #inside-group-window .scroll-box {
  height: calc(
    var(--winHeight) - var(--group-h) - var(--header-h) - var(--group-padding) *
    2
    );
  }

@media only screen and (min-width: 1200px) {
  main #inside-group-window .title-bar {
    grid-template-columns: 5fr 50fr 3fr 3fr;
  }
  main #inside-group-window .title-bar #item-back-btn i {
    font-size: 1.8rem;
  } 
  .title-bar #add-new-item i {
    font-size: 1.5rem;
  }
  .title-bar #edit-item i {
    font-size: 1.3rem;
  }
}

    
  
/* ------------- all item window ---------------- */
#all-item-window {
  position: fixed;
  width: var(--winWidth);
  height: calc(var(--winHeight) - var(--header-h));
  top: var(--header-h);
  left: 0;
  flex-direction: column;
  background: #2a4153;
  z-index: 1;
  display: none;
}

#all-item-window.active {
  display: flex;
}
#all-item-window .title-bar {
  position: relative;
  width: 100%;
  height: var(--group-title-h);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background: #335066;
}
#all-item-window .title-bar .title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-auto-flow: column;
  color: #fff;
  font-size: var(--header-f-s);
}
#all-item-window .title-bar .title i {
  font-size: calc(var(--header-f-s));
}
