
.i-t-e-m-s {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--group-padding);
}

.item {
  position: relative;
  width: 100%;
  height: var(--item-h);
  border-radius: 6px;
  overflow: hidden;
}
.item .actiol-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20fr 20fr;
  place-items: center;
}
.item.non-user .actiol-item {
  grid-template-columns: 20fr 0;
}
.item .actiol-item .in-content {
  position: relative;
  width: 100%;
  display: grid;
  justify-items: left;
  align-items: center;
  padding-left: 15%;
  grid-template-rows: 20fr 15fr;
}
.item.non-user .actiol-item .in-content {
  grid-template-columns: 3fr 1fr;
  padding-left: 10%;
  grid-template-rows: 1fr;
}
.item .actiol-item .item-name {
  font-size: 1rem;
}
.item .actiol-item .item-name i {
  font-size: 1rem;
  top: 1px;
  color: #000;
  text-shadow: 0 0 1px #fff;
}
.item .actiol-item .item-quantity {
  font-size: 0.8rem;
}
.item .editable-items,
.item .actiol-item {
  background: linear-gradient(#fff, #ddd);
  border-bottom: solid 5px #777;
}
.item:nth-child(odd) .editable-items,
.item:nth-child(odd) .actiol-item {
  background: linear-gradient(#aaa, #bbb);
}
.item .actiol-item span {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 14fr 10fr;
}
.item .actiol-item span .quantity-input-fild {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10fr 15fr 10fr;
  place-items: center;
}
.item .actiol-item span .quantity-input-fild.hide {
  display: none; 

}

.item .actiol-item span .quantity-input-fild ._input_ {
  position: relative;
  height: 20px;
  width: 100%;
}
.item .actiol-item span .quantity-input-fild ._input_ input {
  position: relative;
  width: 100%;
  font-family: "google";
  height: 100%;
  text-align: center;
}
.item .actiol-item span .item-update-btn {
  position: relative;
  display: grid;
  grid-template-columns: 10fr 10fr;
  place-items: center;
}
.item .actiol-item span .item-update-btn .item-in,
.item .actiol-item span .item-update-btn .item-out {
  position: relative;
  width: 65px;
  background: #000000bb;
  padding: 3px 0;
  border-radius: 6px;
  border: solid 1px #ff9000;
  box-shadow: 0 0 1px #000;
  display: grid;
  font-size: 0.8rem;
  place-items: center;
}
.item .actiol-item span .item-update-btn .item-in p,
.item .actiol-item span .item-update-btn .item-out p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.item .actiol-item span .item-update-btn .item-in i,
.item .actiol-item span .item-update-btn .item-out i {
  font-size: 0.8rem;
  margin: 0 3px;
}

.i-t-e-m-s .item .editable-items {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.item .actiol-item span .quantity-input-fild .plus-1,
.item .actiol-item span .quantity-input-fild .mins-1 {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: solid 2px #000;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.mins-1 i,
.plus-1 i {
  position: relative;
  display: grid;
  place-items: center;
}
.mins-1 i::before,
.plus-1 i::before {
  content: "";
  position: absolute;
  width: 10px;
  border-radius: 3px;
  height: 2px;
  background: #000;
}

.plus-1 i::after {
  content: "";
  position: absolute;
  transform: rotate(90deg);
  width: 10px;
  border-radius: 3px;
  height: 2px;
  background: #000;
}
.i-t-e-m-s.active .item .editable-items {
  display: grid;
  inset: 0;
  grid-template-columns: 10fr 10fr 10fr;
  place-items: center;
}
.i-t-e-m-s.active .item .editable-items input {
  position: relative;
  width: 100%;
  color: #000;
  font-weight: 500;
  background: #fff;
  font-family: "google";
  font-size: 1rem;
  caret-color: #000;
}
.editable-items .item-delete-btn {
  box-shadow: inset 0 0 10px #f00, 0 0 3px #fff;
}
.editable-items .item-delete-btn,
.editable-items .item-update {
  color: #f00;
  cursor: pointer;
  border: solid 2px #ff000055;
  padding: 5px 4px;
  border-radius: 6px;
}
.editable-items .item-delete-btn i,
.editable-items .item-update i {
  font-size: 1rem;
  color: #f00;
  text-shadow: 0 0 1px #000;
}
.editable-items .item-update i {
  color: #50009288;
}
.editable-items .item-update.active i {
  color: #500092;
  text-shadow: 0 0 1px #000;
}

.editable-items .item-update {
  color: #50009288;
  border-color: #50009288;
  box-shadow:  0 0 3px #fff;
}
.editable-items .item-update.active {
  color: #500092;
  border-color: #500092;
  box-shadow: inset 0 0 10px #500092, 0 0 3px #fff;
}


@media only screen and (min-width: 500px) {
  .item .actiol-item {
    grid-template-columns: 20fr 40fr;
  }
  .item .actiol-item span {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10fr 10fr;
  }
  .item .actiol-item span .quantity-input-fild ._input_ {
    position: relative;
    height: 30px;
    width: 100%;
  }
  .item .actiol-item span .quantity-input-fild ._input_ input {
    font-size: 1.2rem;
  }
  .item .actiol-item span .item-update-btn .item-in,
  .item .actiol-item span .item-update-btn .item-out {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .item .actiol-item span .item-update-btn .item-in p,
  .item .actiol-item span .item-update-btn .item-out p {
    width: 70px;
    padding: 3px 0;
    font-size: 1rem;
  }
  .item .actiol-item span .item-update-btn .item-in i,
  .item .actiol-item span .item-update-btn .item-out i {
    font-size: 1rem;
  }
  .item .actiol-item span .quantity-input-fild .plus-1,
  .item .actiol-item span .quantity-input-fild .mins-1 {
    transform: scale(1.4);
  }
}
@media only screen and (min-width: 1200px) {
  
.i-t-e-m-s {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: var(--group-padding);
  }
  .item .actiol-item {
    grid-template-columns: 30fr 40fr;
  }
  .item .actiol-item span {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10fr 10fr;
  }
  .item .actiol-item .in-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    padding-left: 5%;
    grid-template-rows: auto;
    grid-template-columns: 20fr 18fr;
  }
  .item .actiol-item .item-name i,
  .item .actiol-item .item-name {
    font-size: 1.4rem;
  }

  .item .actiol-item span .quantity-input-fild ._input_ {
    position: relative;
    height: 30px;
    width: 100%;
  }
  .item .actiol-item .item-quantity {
    font-size: 1rem;
  }
  .item .actiol-item span .quantity-input-fild ._input_ input {
    font-size: 1.2rem;
  }
  .item .actiol-item span .item-update-btn .item-in ,
  .item .actiol-item span .item-update-btn .item-out {
    width: 75px;
  }
  .item .actiol-item span .item-update-btn .item-in p,
  .item .actiol-item span .item-update-btn .item-out p {
    width: 100%;
    font-size: 1.1rem;
    padding: 5px;
  }
  .item .actiol-item span .item-update-btn .item-in i,
  .item .actiol-item span .item-update-btn .item-out i {
    font-size: 1.1rem;
  }
  .item .actiol-item span .quantity-input-fild .plus-1,
  .item .actiol-item span .quantity-input-fild .mins-1 {
    transform: scale(1.4);
  }
}
