/* ------- item found window -------- */
#find-window {
  display: none;
}
#find-window.active {
  display: block;
  z-index: 13;
  background: #2a4153;
}
#find-window .title-bar {
  position: relative;
  width: 100%;
  height: var(--group-title-h);
  display: grid;
  grid-template-columns: 10fr 40fr;
  place-items: center;
}
#find-window .item-found-name {
  font-size: 1.3rem;
  color: #fff;
  text-shadow: 0 0 1px #000;
}
#find-window .item-found-name i {
  font-size: 1.3rem;
  color: #fff;
  text-shadow: 0 0 1px #000;
}
